<p>
  <b>Username:</b>
  <%= @user.username %>
</p>

<p>
  <b>Created at:</b>
  <%= @user.created_at %>
</p>

<p>
  <b>Avatar:</b>
<%= image_tag @user.avatar.url(:thumb) %>
</p>

<% for activity in @activities %>
    <%= render_activity(activity) %>
<% end %>

<%= link_to 'Back', photos_path %>
