<p>
  <b>Username:</b>
  <%= @user.username %>
</p>

<p>
  <b>Created at:</b>
  <%= @user.created_at %>
</p>

<p>
  <b>Number of users that are following this user:</b>
  <%= @user.total_followers %>
</p>

<p>
  <b>Number of users followed by this user:</b>
  <%= @user.total_following %>
</p>

<p>
  <b>Avatar:</b>
<%= image_tag @user.thumb_size_url%>
</p>

<% if user_signed_in? %>
    <div id="follow_user">
      <%= render :partial => "devise/shared/follow_user", :locals => {:user => @user} %>
    </div>
<% end %>

<% for activity in @activities %>
    <%= render_activity(activity) %>
<% end %>

<%= link_to 'Back', photos_path %>
