<table id="users">
  <thead>
      <tr>
        <th>id</th>
        <th>Username</th>
        <th>Email</th>
        <th>Born on</th>
        <th>Gender</th>
        <th>Registered at</th>
        <th>Photos</th>
        <th>Comments</th>
      </tr>
  </thead>
  <tbody>
      <% @users.each do |user| %>
          <tr>
            <td><%= link_to(user.id, edit_user_path(user)) %></td>
            <td><%= link_to(user.username, edit_user_path(user)) %></td>
            <td><%= link_to(user.email, edit_user_path(user)) %></td>
            <td><%= link_to(user.birth_date, edit_user_path(user)) %></td>
            <td><%= link_to(user.gender, edit_user_path(user)) %></td>
            <td><%= link_to(user.created_at, edit_user_path(user)) %></td>
            <td><%= link_to(user.photos.count, edit_user_path(user)) %></td>
            <td><%= link_to(user.comments.count, edit_user_path(user)) %></td>
          </tr>
      <% end %>
  </tbody>
</table>

<%= paginate @users %>
