<table id="users">
  <thead>
      <tr>
        <th>id</th>
        <th>Username</th>
        <th>Email</th>
        <th>Born on</th>
        <th>Gender</th>
        <th>Registered at</th>
        <th>Photos</th>
        <th>Comments</th>
      </tr>
  </thead>
  <tbody>
      <% @users.each do |user| %>
          <tr>
            <td><%= link_to(user.id, user) %></td>
            <td><%= link_to(user.username, user) %></td>
            <td><%= link_to(user.email, user) %></td>
            <td><%= link_to(user.birth_date, user) %></td>
            <td><%= link_to(user.gender, user) %></td>
            <td><%= link_to(user.created_at, user) %></td>
            <td><%= link_to(user.photos.count, user) %></td>
            <td><%= link_to(user.comments.count, user) %></td>
          </tr>
      <% end %>
  </tbody>
</table>

<%= paginate @users %>
