<li> <%= link_to 'Back', admin_path %>  </li>

<h1>Listing users</h1>

<%= form_tag(user_search_path, :method => "get") do %>
    <%= label_tag(:search_string, "Search for:") %>
    <%= text_field_tag(:search_string) %>
    <%= submit_tag("Search") %>
<% end %>
<br>

<%= paginate @users %>
<br>
<%= render 'index_table' %>
<br>
<%= paginate @users %>

<br>
<p><%= link_to "Download CSV", users_csv_path %></p>
<li> <%= link_to 'Back', admin_path %>  </li>


