<p>
  <b>Username:</b> <%= @user.username %> <br>
  <b>Born:</b> <%= @user.birth_date %> <br>
  <b>Gender:</b> <%= @user.gender %>
  <b>Email:</b> <%= @user.gender %>

</p>





<%= link_to 'Back', users_path %>
