<div id="detailsContainer">
  <img width="494px" height="494px" src="<%= @photo.full_size_url %>" />
  <div id="photoInfo">
      <div id="authorAvatar">
        <img width="74" height="74" src="<%= @photo.author_avatar_thumb_size_url %>">
      </div>
      <div id="photoText">
        <div id="photoTextTop"><%= @photo.title %></div><div id="uploadedDate"> , <%= @photo.created_at_date %></div>
        <div id="photoTextBottom">
          <div>by <div id="authorUsername"><%= @photo.user.username %></div>
            <%= image_tag("follow.jpg", :class => "followButton", :onclick => "$('#linkToStore').bPopup({zIndex:1000000});") %>

          <% unless @photo.named_location.nil? %>
                <div>at <div id="placeName"><%=  @photo.named_location.name %></div>
                  <%= image_tag("follow.jpg", :class => "followButton", :onclick => "$('#linkToStore').bPopup({zIndex:1000000});") %>
                </div>
          <% end %>
        </div>
      </div>
    </div>
    <% if @photo.comments_count > 0 %>
        <div id="commentsCounter"><span>Newest comments</span> (of <%= @photo.comments_count %>)</div>
        <div id="commentsContainer">
          <div id="leftColumn">
            <% @commentsleft.each { |comment| %>
            <div class="comment">
              <div class="left">
                <div class="commenterAvatar">
                  <img width="52" height="52" src="<%= comment.owner.thumb_size_url %>" />
                </div>
              </div>
              <div class="right">
                <div class="commentText">
                  <%= truncate(comment.body, :length => 50, :separator => ' ' ) %>
                </div>
                <div class="commentInfo">by
                  <span class="commenter"><%= comment.owner.username %></span>
                  , <%= comment.created_at_date %></div>
              </div>
            </div>
            <% } %>
            </div>

          <div id="rightColumn">
            <% @commentsright.each { |comment| %>
                <div class="comment">
                  <div class="left">
                    <div class="commenterAvatar">
                      <img width="52" height="52" src="<%= comment.owner.thumb_size_url %>" />
                    </div>
                  </div>
                  <div class="right">
                    <div class="commentText">
                      <%= truncate(comment.body, :length => 50, :separator => ' ' ) %>
                    </div>
                    <div class="commentInfo">by
                      <span class="commenter"><%= comment.owner.username %></span>
                      , <%= comment.created_at_date %></div>
                  </div>
                </div>
            <% } %>
          </div>
        </div>
    <% end %>
  <% if @photo.show_on_map  %>
      <div id="mapContainer">
        <div id="map"></div>
      </div>
      <script type="text/javascript">
          $(document).bind('cbox_complete', function(){
              initialize(<%= @photo.latitude %>, <%= @photo.longitude %>);
          });
      </script>
  <% end %>
</div>



