<table>
  <tr>
    <th>Title</th>
    <th>Description</th>
    <th>Votes</th>
    <th>Category</th>
    <th>Voted by current user</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

  <% @photos.each do |photo| %>
      <tr>
        <td><%= photo.title %></td>
        <td><%= photo.description %></td>
        <td><%= photo.plusminus %></td>
        <td><%= photo.category.title %></td>
        <td><%= photo["voted_by_current_user"] %></td>
        <td><%= link_to 'Show', photo %></td>
        <td><%= link_to 'Edit', edit_photo_path(photo) %></td>
        <td><%= link_to 'Destroy', photo, confirm: 'Are you sure?', method: :delete %></td>
      </tr>
  <% end %>
</table>

<%= will_paginate @photos %>
