<table>
  <tr>
    <th></th>
    <th>id</th>
    <th>Title</th>
    <th>Votes</th>
    <th>Category</th>
    <th>Posted by</th>
    <th>Times reported</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

  <% @photos.each do |photo| %>
      <tr>
        <td><img src=<%= photo.image.url(:thumb) %> /></td>
        <td><%= photo.id %></td>
        <td><%= photo.title %></td>
        <td><%= photo.plusminus %></td>
        <td><%= photo.category.title %></td>
        <td><%= photo.user.username %></td>
        <td><%= photo.reported_count %></td>
        <td><%= link_to 'Show', photo %></td>
      </tr>
  <% end %>
</table>

<%= paginate @photos %>
