<li> <%= link_to 'Back', admin_path %>  </li>

<h1>Listing reported photos</h1>

<li><%= link_to "Delete all reported photos",
                photos_destroy_all_reported_path,
                :confirm => "Deleting all reported photos is irreversible, are you sure?"  %>
</li>
<li><%= link_to "Ban all reported photos",
                photos_ban_all_reported_path,
                :confirm => "Are you sure you would like to ban all reported photos?"  %>
</li>


<%= render 'index_table' %>

<br>
<li> <%= link_to 'Back', admin_path %>  </li>


