
<%= link_to 'Back', photos_path %>

<% if @photo.banned? %>

    <h2>This Photo is banned!</h2>
<% end %>
<p>
  <b>Title:</b>
  <%= @photo.title %>
</p>
<p>
  <b>Category:</b>
  <%= @photo.category.display_title %>
</p>

<p>
  <b>Uploaded by:</b>
  <%= @photo.user.username %>
</p>

<p>
  <b>Votes:</b>
  <%= @photo.plusminus %>
</p>
<%= image_tag @photo.image.url(:medium) %>

<%= render 'photo_reports_table' %>

<%= form_tag(toggle_ban_photo_path) do %>
    <%= submit_tag(@photo.banned? ? "Unban photo" : "Ban photo") %>
<% end %>

<%= form_tag(refuse_ban_photo_path) do %>
    <%= submit_tag("Refuse banning of this photo and remove all reports") %>
<% end %>



