<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @photo.title %>
</p>

<p>
  <b>Description:</b>
  <%= @photo.description %>
</p>

<p>
  <b>Category:</b>
  <%= @photo.category.title %>
</p>

<p>
  <b>Category Id:</b>
  <%= @photo.category.id %>
</p>

<%= image_tag @photo.image.url %>
<%= image_tag @photo.image.url(:medium) %>
<%= image_tag @photo.image.url(:thumb) %>
<%= image_tag @photo.image.url(:full) %>


<%= link_to 'Edit', edit_photo_path(@photo) %> |
<%= link_to 'Back', photos_path %>
