

  <div id="footer">
      <div class="linkContainer">
        <span class="footerLink">
            <%= link_to 'About', about_path %>
        </span>
        <span class="dot">
            .
        </span>
        <span class="footerLink">
            <%= link_to 'Press', press_path %>
        </span>
        <span class="dot">
            .
        </span>
        <span class="footerLink">
          <%= link_to 'Terms and conditions', terms_path %>
        </span>
        <span class="dot">
            .
        </span>
        <span class="footerLink">
          <%= link_to 'Contact', contact_path %>
        </span>
        <span class="dot">
            .
        </span>
        <span class="footerLink">
          <a target="_blank" href="http://facebook.com"><div id="fbLink"></div></a>
        </span>
        <span class="footerLink">
          <a target="_blank" href="https://twitter.com"><div id="twitterLink"></div></a>
        </span>
        <span class="footerLink" id="wantedpixel_link">
            <a target="_blank" href="http://www.wantedpixel.com" >
                <%= image_tag "wanted_pixel.jpg", :style => "", :alt => "design by wanted pixel" %>
            </a>
        </span>
      </div>
</div>







