<div id="preloadImages">
  <%= image_tag "fbOn.png" %>
  <%= image_tag "twitterOn.png" %>
</div>



<header id="header">
  <div id="topPart">
    <div id="logo">
      <a href="/home"><%= image_tag "logo.png" %></a>
    </div>
    <div id="topRight">
      <div id="topRightTop">
        <div id="slogan">
          <%= image_tag "slogan.png" %>
        </div>
        <div id="storeLink">
          <div id="storeLinkText">Share Berlin moments near you, dowload the So Berlin App now!</div>
          <a href="https://itunes.apple.com/us/app/so-berlin/id572498137?mt=8&ign-mpt=uo%3D2">
          <div
          id="downloadButton"></div>
          </a>
        </div>
      </div>
      <div id="menu">
        <span style="margin:0px;padding:0px;">Last updates:</span>
								<span class="menuItem" <% if @active == "all" %>id="active" <%end %> >
									<span><%= link_to "All",  "/home?show=all" %></span>
								</span>
								 <span class="menuItem"  <% if @active == "places" %>id="active" <%end %> >
                                	<span><a href="/home?show=places">Location</a></span>
                                </span>
                                <span class="menuItem"  <% if @active == "fashion" %>id="active" <%end %> >
									<span><a href="/home?show=fashion">Fashion</a></span>
								</span>

                                <span class="menuItem blastItem"  <% if @active == "design" %> id="active" <%end %> >
                                	<span><a href="/home?show=design">Stuff</a></span>
                                </span>
                                <span class="menuItem lastItem" <% if @active == "best" %> id="active" <%end %> >
                                	<span><a href="/home?show=best">Best</a></span>
                                </span>
      </div>
    </div>
  </div>
</header>