<!DOCTYPE html>
<html>
<head>
  <title>SoBerlin</title>
  <meta property="og:title" content="so Berlin! - How Berlin is your neighbourhood? Inspire, get inspired!" />
  <meta property="og:type" content="company" />
  <meta property="og:site_name" content="so Berlin!" />
  <meta property="og:url" content="http://www.soberlin.org" />
  <meta property="og:image" content="null" />
  <meta property="og:description" content="I just signed up on So Berlin (soberlin.org)! - So inspiring and fresh " />
  <%= stylesheet_link_tag "admin/admin", :media => "all" %>
  <%= javascript_include_tag "admin" %>

  <%= csrf_meta_tags %>

</head>
<body>

<% if notice || alert %>
    <div class="flash-message <%= notice ? "notice" : ""%><%= alert ? "error" : ""%>">
      <div class="container container_12 clearfix">
        <div class="grid_12">
          <% if notice %>
              <p><%= notice %></p>
          <% elsif alert %>
              <p><%= alert %></p>
          <% end %>
        </div>
      </div>
    </div>
<% end %>

<div id="photosPart">
<%= render "devise/menu/login_items" %>


<p class="alert"><%= alert %></p>
<%= yield %>
<%= yield :scripts %>

</div>

</body>
</html>
