<!DOCTYPE html>
<html>
<head>
  <title>SoBerlin</title>
  <meta property="og:title" content="so Berlin! - How Berlin is your neighbourhood? Inspire, get inspired!" />
  <meta property="og:type" content="company" />
  <meta property="og:site_name" content="so Berlin!" />
  <meta property="og:url" content="http://www.soberlin.org" />
  <meta name="google-site-verification" content="Misk3XOGm5ObgQ5mA-Ju_z5wbGPKhcVDLo4UV9P14nE" />

  <meta name="author" content="So Berlin">
  <meta name="publisher" content="So Berlin">
  <meta name="copyright" content="So Berlin">
  <meta name="description" content="How Berlin is your neighborhood? Find out using our website and mobile phone application. Join the community and help others find Berlin moments in the neighborhood and around the world - be it places, fashion or art. ">
  <meta name="keywords" content="Berlin, hip, hipster, street, art, fashion, places, map, around, foto, sharing, filter, retro, urban, cool, design, new, underground, fresh, style, insider, inside, find, show, discover, photo, bear, big, hug">
  <meta http-equiv="content-language" content="en">
  <meta name="robots" content="index, follow">
  <meta name="DC.Creator" content="So Berlin">
  <meta name="DC.Publisher" content="So Berlin">
  <meta name="DC.Rights" content="So Berlin">
  <meta name="DC.Description" content="How Berlin is your neighborhood? Find out using our website and mobile phone application. Join the community and help others find Berlin moments in the neighborhood and around the world - be it places, fashion or art. ">
  <meta name="DC.Language" content="en">


  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= stylesheet_link_tag 'gmaps4rails' %>
  <%= csrf_meta_tags %>
  <%= yield :head %>
</head>
<body>

<p class="notice"><%= notice %></p>
<p class="alert"><%= alert %></p>
<%= yield %>
<%= yield :scripts %>

</body>
</html>
